<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>
  {{ title }}
  </title>
  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="../dist/css/bootstrap.css" />
</head>
<body>
<header> 
	<div><h1>{{ title }}</h1></div>
	
</header>

Hello {{ name }} !

</body>
</html>